body {
  background-color: black;
  /* background-image: url(../images/background-clouds-color-1040474.jpg); */
  color: whitesmoke;
}

#trivQuestions {
  background-image: url(../images/graduation-bg.jpg);
  /* background-size: 100%; */
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#start-button {
  border-radius: 10px;
  background: none;
  border: whitesmoke 5px solid;
  color: white;
}
