body {
    background-color: black;
    /* background-image: url(../images/background-clouds-color-1040474.jpg); */
    color: whitesmoke;
}

#trivQuestions {
    background-image: url(../images/graduation-bg.jpg);
    width: 100%;
    height: auto;
    
}